htnml, body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
}

@media only screen and (min-width: 768px) {
    #app-container {
        display: flex;
    }
    
    #app-inventory {

    }
    
    #app-cart {
        width: auto;
    }
    

    #app-cart .rental-item {
        margin-left: 10px;
        margin-right: 10px
    }

    .rental-item img {
        display: block !important;
        margin-top: 5px;
    }
    #app-cart .rental-item {
        display:inline-block
    }

    /* little hacky margining */
    #app-container section:nth-child(3) {
        margin-left: 10px;
    }
}

.rental-item {
    border-bottom: solid 1px #333;
    margin-top: 20px;
    margin-bottom: 10px
}
.rental-item img {
    display: none
}
.app-add-item, .app-remove-item {
    float: right
}

.rental-item .item-name {
    font-weight: bold
}

